go 1.25.0

use (
	./pkg
	./services/subscription-service
	/home/khiem/projects/twitch-watcher/services/notification-dispatcher
	/home/khiem/projects/twitch-watcher/services/stream-filter
	/home/khiem/projects/twitch-watcher/services/stream-poller
)
